
*{
    margin:0;
    padding:0;
    border:none;
}


.container{
    max-width: 1140px;
    margin-left:auto;
    margin-right:auto;
    padding:16px;
}

.layout{
    display:grid;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap:16px;
}

.layout img{
    width:100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 500px;
}


@media (min-width:768px){
    
    .layout{
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:16px;
    }
    
    .one, .five{
    grid-column-start: 1;
    grid-column-end: 4;
    }
}







